@charset "utf-8";

/*
~~~~~    General Stuff    ~~~~~
*/
* {
	margin: 0px;
	padding: 0px;
	color: #000;
	text-decoration: none;
	list-style: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#innercontent {
	margin: 5px auto;
	width: 432px;
	border: 1px solid #c9c9c9;
	text-align: left;
}

form.miniform {
	width:400px;
}
form.miniform input[type="submit"] {
	padding: 4px 0px;
	float:none;
}
form div {
	text-align: left;
	clear: both;
	overflow:auto;
}

.imgbox a img {
	vertical-align: bottom;
}

/*
~~~~~    Specific Stuff    ~~~~~
*/
.delbut,.repbut,.locbut,.addbut,.mesbut,.pinbut,.appbut,.edtbut {
	width: 16px;
	height: 16px;
	margin-right: 4px;
	text-indent: -9999px;
	background: url(../../iconsets/default/001.png) 0px 0px no-repeat;
	float: left;
}

a.delbut:hover {background-position: -16px 0px;}
a.repbut {background-position: 0px -32px;}
a.repbut:hover {background-position: -16px -32px;}
a.addbut {background-position: 0px -48px;}
a.addbut:hover {background-position: -16px -48px;}
a.mesbut {background-position: 0px -96px;}
a.mesbut:hover {background-position: -16px -96px;}
a.edtbut {background-position: 0px -112px;}
a.edtbut:hover {background-position: -16px -112px;}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

 * Page Headers

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#header, #admheader {
	padding: 10px;
	background: #c9c9c9;
}

#header span a {color:#A91D1D;}

#header,#footer,#admheader {
	text-align: center;
}


#footer {
	clear:both;
	font-size: .7em;
	color:#555;
}

#footer a:hover {
	text-decoration:underline;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

 * Base Navigation Bar

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.navbar.lower {
	margin: 25px auto;
	clear: both;
}
.navbar.lower ul li a {
	border:1px solid #fff;
}
.navbar.upper{
	margin: 0px auto 25px auto;
	clear: both;
	background:#c9c9c9;
	border-bottom: 3px solid #a9a9a9;
}
.navbar ul {
	margin:0px auto;
	width:750px;
}

.navbar ul li {
	display: inline;
	margin-right:1px;
}

.navbar ul li a {
	padding:8px 5px;
	color:#111;
}

.navbar.upper ul li a {
	display:inline-block;
	background:#f5f5f5;
	margin-bottom:-3px;
	border-bottom:3px solid #a9a9a9;
}
 
.navbar ul li a:hover,.navbar ul li a:focus {
	border-color: #a9a9a9;
}

.navbar.upper ul li a:hover,
.navbar.upper ul li a:focus {
	background: #fff;
	border-bottom-color: #A91D1D;
}

.navbar.upper ul li a.here {
	border-top:3px solid #fff;
	border-bottom-color: #fff;
	background:#fff;
}

.admnav {
	width:170px;
	float:left;
	border:1px solid #a9a9a9;
}

.admnav li.bold {
	padding:10px 0px 0px 5px;
	border-bottom:1px dotted #a9a9a9;
	text-align:left;
}

.admnav li a {
	display:block;
	padding:2px;
	text-align:center;
}
.admnav li a:hover, .admnav li a:focus {
	text-decoration:underline;
}

.admbody {
	width:900px;
	margin:5px auto;
}
.admcon {
	width:710px;
	margin-left:auto;
}

.error {
	background: #FFC4C4;
	border: 1px solid #FF8080;
	text-align: center;
	margin: 10px;
	padding: 5px;
	line-height: 2em;
}

.box {
	text-align: center;
	margin: 10px;
	padding: 5px;
	line-height: 2em;
}

.green {
	background: #C4FFC4;
	border: 1px solid #80FF80;
	text-align: center;
	margin: 10px;
	padding: 5px;
	line-height: 2em;
}

.hidden {
	display:none;
}
/* Thread Template */
.post {
	width: 750px;
	border: 1px solid #a9a9a9;
	margin: 0px auto 5px auto;
	background: #c9c9c9;
	clear: both;
}

.post .post_header {
	width:750px;
	padding:5px 0px;
	min-height:1em;
	border-bottom:1px solid #a9a9a9;
	background:#fff;
}

.post_header span {
	font-weight:bold;
	padding:0px 5px;
}


.post .imgbox {
	margin: 5px;
	border: 1px solid #a9a9a9;
	float: left;
	background: #fff;
}

.post .imgbox a {
	margin: 5px;
	padding: 0px;
	border: 0px;
	display: block;
}

.post .charbox {
	width: 60px;
	height: 60px;
	border: 1px solid #a9a9a9;
	background: #fff;
	float: right;
	margin: 5px;
	position: relative;
}

.post div.text {
	margin: 5px;
	margin-right: 75px;
}

.post:after {
	content: ".";
	display: block;
	height: 0;
	font-size: 0;
	clear: both;
	visibility: hidden;
}

.post .charbox img {
	margin: 5px;
}

.post .charbox .charinfo {
	display: none;
}

.post .charbox:hover .charinfo {
	text-align: center;
	font-size: .9em;
	position: absolute;
	left: 59px;
	top: -1px;
	border: 1px solid #a9a9a9;
	border-left: 0px;
	height: 60px;
	width: 150px;
	background: #fff;
	display: block;
}

.post .charbox.online:hover .charinfo {
	background:#fff url(../../iconsets/default/online.gif) right center no-repeat;
}
.optbox {
	margin: 5px auto;
	width: 60px;
}

/* Other Stuff */
div.bottom {
	width: 650px;
}

.thread div.header {
	padding: 3px;
	display: block;
	text-align: right;
	padding-right: 5px;
}

.thread div.header a {
	font-weight: bold;
	float: left;
	margin-left: 5px;
	color:#111;
}

.thread div.header a:hover,.thread div.header a:focus {
	text-decoration: underline;
}

.thread {
	border: 1px solid #c9c9c9;
	margin: 10px auto;
	width: 698px;
}

.thread .post {
	width:688px;
}

.boards {
	width: 152px;
	margin: 25px auto;
}

.boards ul li a {
	display: block;
	width: 150px;
	border: 1px solid #c9c9c9;
	margin: 3px;
	text-align: center;
	padding: 2px 0px;
	font-size: 1.1em;
	color:#111;
}

.boards ul li a:hover,.boards ul li a:focus {
	background: #c9c9c9;
	border-color: #a9a9a9;
}

.center {
	text-align: center;
}

 
ul li ul li {
	font-size: .7em;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

 * User Level Classes

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
li.name.ulv90 a,
li.name.ulv99 a {
	color:#8080ff;
}
li.name.ulv90,
li.name.ulv99 {
	background:url(../../iconsets/default/crown.png) no-repeat 15px 0px;
}

.longnote {
	font-size:.8em;
	border:none;
}

.longnote p {
	margin-bottom:1em;
	color:#666;
}
.longnote li {
	list-style:disc;
	color:#666;
	margin-left:20px;
}

form div.halfwidth {
	width:49%;
	clear:none;
}
form div.fullwidth {
	width:700px;
	clear:both;
}

form div.fullwidth input,
form div.fullwidth select,
form div.fullwidth textarea {
	width:680px;
}

#page_body {
	width:950px;
	margin:0px auto;
	overflow:auto;
}

#thread_box {
	width:700px;
	float:left;
}

#side_box {
	width:225px;
	float:right;
}

#user_info_box {
	padding:10px;
	border:1px solid #a9a9a9;
}

#side_nav_bar {
	padding:11px;
}
form.admForm fieldset legend {
	width:200px;
	border:1px solid #a9a9a9;
	margin:5px 0px;
	padding:10px;
	text-align:center;
}
form.admForm fieldset div {
	width:725px;
	border:1px solid #a9a9a9;
	margin:5px auto;
	background: #eee;
}
form.admForm fieldset div:hover {
	border-color:#A91D1D;
	background: #Fee;
}
form.admForm fieldset div:hover * {
	border-color:#A91D1D;
}
form.admForm fieldset div label {
	font-size:.9em;
	float:left;
	width:175px;
	padding:15px 5px;
	text-align:right;
	border-right:1px solid #a9a9a9;
}
form.admForm fieldset div input, 
form.admForm fieldset div textarea {
	display:inline;
	font-size:.9em;
	float:left;
	width:250px;
	padding:15px 5px;
	border:none;
	margin:0px;
	border-right:1px solid #a9a9a9;
}
form.admForm fieldset div div {
	margin:0px;
	background:none;
	border:none;
	width:450px;
	display:inline;
}
form.admForm fieldset div div.admfexp {
	padding:5px;
	width:265px;
	font-size:.6em;
	position:absolute;
}